footer{
    margin: 10px auto;
    background-color: #9263EB;
    opacity: 5;
    padding: 10px;
    width: 100%;
    color: white;
    align-items: center;
    display: flex;
    justify-content: space-between;
    .derechos{
        align-items: center;
    }
    .redesociales{
        margin-left: 20px;
        width: 10px; 
        display: flex;
        justify-content: end;
        align-content: space-around;
        gap: 20px;
        padding-right: 15px;

    }
    .redes {
        width: 35px;
        opacity: .7;
    }
    
}