.container{
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr; 
    grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr; 
    gap: 0.5px 0.5px; 
    grid-template-areas: 
      "header header header header"
      "section1 section1 section2 section2"
      "article article article article"
      "footer footer footer footer"; 
  }
header{
    grid-area: header;
    .header_titular{
        color: $blanco;
        text-align: center;
        padding: 15px;
        font-size: 3rem;
        font-weight: 700;
        
    }
    nav{
        width: 90%;
        height: 80px;
        margin: 0 auto;
        background-color: $morado;
        display: flex;
        justify-content: flex-start;
        border-radius: 10px; 
    }
    .header_imgLogo{
        width: 70px;
        margin: auto;
        padding: 5px;
    }
    .header_menuList{
        list-style: none;
        display: flex;
        align-items: center;
        padding: 20px;
        .header_link{
            color: $blanco;
            text-decoration: none;
            padding: 1rem;
            font-weight: 700;
        }
        .header_link:hover{
            background-color: $rosa2;
            color: #ffffff;
            border-radius: 12px;
        }
    }
}