.sectionn{
        padding: 20px;
    .subtitulo2{
        margin: 15px;
        padding-top: 20px;
        padding-left: 10px;
        color: white;
        font-size: 2rem;
        font-weight: 600; 
    }
    .contenedorn{
        display: flex;
        grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
        flex-wrap: nowrap;
        gap: 15px;
        .contenedornov{
            padding: 20px;
            .imgn{
                width: 100%;
                height: auto;
                border: double $blanco 2px;
                opacity: 0.4;
                }
                .imgn:hover{
                opacity: 1;
                border: $morado solid 3px;
                border-radius: 10px;
                }
                .subnov{
                color: white;
                text-align: center;
                }
        }
        
    }
}
.section3{
    
    .subnoticias{
        margin: 15px;
        padding-top: 20px;
        padding-left: 10px;
        color: white;
        font-size: 2rem;
        font-weight: 600; 
    }
}
.iframe{
    padding: 10px;
    padding-right: 30px;
    width: 100vw;
    height: 50vw;
}